@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300&display=swap');

body {
    font-family: Big Shoulders Display;
}


/* Gallery slyles start */

.gallery {
    position: relative;
    margin-bottom: 7.5rem;
}

.gallery__img {
    width: 540px;
    height: 800px;
    background: url(../img/desktop/image-hero.jpg) black right no-repeat;
    padding-right: 28rem;
}

.gallery__wrapper {
    display: flex;
    position: absolute;
    max-width: 80%;
    max-height: 300px;
    top: 190px;
    left: 165px;
}

.gallery__title {
    color: white;
    margin-right: 246px;
    mix-blend-mode: difference;
    width: 514px;
    font-weight: 900;
    font-size: 96px;
    line-height: 88px;
    text-transform: uppercase;
}

.gallery__text {
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: #444444;
    max-width: 350px;
    margin-bottom: 64px;
}

.gallery__btn {
    background-color: black;
    display: inline-block;
    position: relative;
    padding: 1.5rem 2rem;
    overflow-x: visible;
    font-weight: 800;
    font-size: 1.25rem;
    font-family: "Big Shoulders Display", sans-serif;
    letter-spacing: 0.225rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 5.5rem 1.5rem 2rem;
}

.gallery__btn-hover:hover,
.gallery__btn-hover:focus,
.gallery__btn-hover:active {
    background-color: #d5966C;
}

.gallery__btn-hover:hover .gallery__arrow,
.gallery__btn-hover:focus .gallery__arrow,
.gallery__btn-hover:active .gallery__arrow {
    background-color: black;
}

.gallery__btn-text {
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.6px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.gallery__arrow {
    right: 0;
    display: flex;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    transition: inherit;
    background-color: rgb(213, 150, 108);
    width: 3.5rem;
    height: 100%;
}

.gallery__arrow img {
    display: block;
    max-width: 100%;
    height: auto;
}



/* Gallery slyles end */

/* Main styles start */

.main {
    display: grid;
    grid-template-columns: 1fr 10rem 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    grid-template-areas: "b-text img-md img-md"
                        "img-bd img-bd img-sm"
                        "img-bd img-bd w-text";
    padding: 0 165px;
    margin-bottom: 180px;
}

.main__textwrapper_b {
    display: flex;
    flex-direction: column;
    grid-area: b-text;
    width: 350px;
}

.main__title_b {
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #151515;
    margin-bottom: 2rem;
}

.main__text_b {
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: #444444;
}

.main__img_md {
    background: url(../img/desktop/image-grid-1.jpg) center/cover;
    grid-area: img-md;
}

.main__img_bg {
    background: url(../img/desktop/image-grid-2.jpg) center/cover;
    grid-area: img-bd;
}

.main__img_sm {
    background: url(../img/desktop/image-grid-3.jpg) center/cover;
    grid-area: img-sm;
}

.main__textwrapper_w {
    display: flex;
    flex-direction: column;
    background-color: #151515;
    color: white;
    align-items: center;
    justify-content: center;
    grid-area: w-text;
    padding: 65px 48px;
}

.main__title_w {
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.main__text_w {
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
}

/* Main styles end */

/* Footer styles start */

footer {
    display: flex;
    padding: 80px 165px;
    background-color: #151515;
    justify-content: space-between;
}

.footer__wrapper {
    display: flex;
}

.footer__text {
    color: white;
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    max-width: 430px;
    margin-left: 140px;
}

.footer__inst {
    margin: 0 20px;
}

/* Footer styles end */

